#
; #####################################
; Compiled configuration file for gotter 
; #####################################
;
; INI Based configuration file, for more info on INI sytax
; check out http://en.wikipedia.org/wiki/INI_file

; Global settings
[global]
; Path to your workspace (Relative or Absolute)
workspace={{.Workspace}}

; Settings for git related items
[git]
; Any repo that falls under the user path will be automatically initialized for SSH
; Can have multiple users
{{range .Users}}
user={{.}}
{{end}}


; If you are a part of any organizations, it will also update their remote origins
; these will match to the root path of the git repo. This works for any repo matching 
; the following format: URL/organization/repo
; 
; ie github.com/Hermes/hermes -> Organization: Hermes, Repo: hermes
; ie bitbucket.com/org1/project -> Organization: org1, Repo: project
;
; Organizations are also treated differently then users, in that when creating a link
; from the $GOPATH/src/project -> $WORKSPACE it creates a organization folder first
;
; ie github.com/Organization/project, will link from: 
; $GOPATH/src/github.com/Organization/project -> $WORKSPACE/Organization/project
{{range .Organizations}}
organizations={{.}}
{{end}}

; To ignore the above feature of nested organizations, set the following to true
; Meaning all organizations repos will be linked just like user repos
flatten-orgs=false

; Settings for how to update origin remote urls for SSH
[SSH]
; Updates the repo origin remote URL to use SSH for user and organization repos
enable=true

; SSH user, default is git, resulting in git@host.com:path/repo.git 
user=git

